header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .headerLeft {
  }
  .headerRight {
    ul {
      display: flex;
      list-style: none;
      a {
        font-size: 16px;
        font-weight: 600;
        color: $blue;
      }
    }
  }
}
