@import 'src/assets/common/variables';
@import 'src/assets/common/mixins';
@import 'src/assets/common/reset';
@import 'src/assets/common/font-family';
@import 'src/assets/common/buttons';

@import 'src/assets/common/global';
@import 'src/components/header/header';
@import 'src/components/footer/footer';
@import 'src/components/banner/banner';
@import 'src/components/listArticle/listArticle';
