$font-path: '../fonts';

@mixin font($font-family, $font-file, $font-weight) {
  @font-face {
    font-family: $font-family;
    src: url($font-path + '/font-family/' + $font-file + '.woff') format('woff'),
      url($font-path + '/font-family/' + $font-file + '.woff2') format('woff2');
    font-display: swap;
    font-weight: $font-weight;
  }
}
//ClearfaceStd
@include font('OpenSans-Regular', 'OpenSans-Regular', 400);
@include font('OpenSans-Medium', 'OpenSans-Medium', 500);
@include font('OpenSans-SemiBold', 'OpenSans-SemiBold', 600);
@include font('OpenSans-Bold', 'OpenSans-Bold', 700);
