@mixin font($font-family, $font-file, $font-weight) {
  @font-face {
    font-family: $font-family;
    src: url('../fonts/font-family/' + $font-file + '.woff2') format('woff2'),
      url('../fonts/font-family/' + $font-file + '.woff') format('woff');

    font-display: swap;
    font-weight: $font-weight;
  }
}

//@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

//Open Sans
@include font('Open Sans', 'OpenSans-Regular', 400);
