.bannerBlock {
  margin: 0 100px;
  padding-bottom: 72px;
  border-bottom: 1px solid $blue;
  @include max(1200px) {
    margin: 0 50px;
  }
  @include max(475px) {
    margin: 0 20px;
  }
  .bannerTop {
    text-align: center;
    padding-top: 27px;
    padding-bottom: 67px;
    .bannerCat {
      font-size: 20px;
      line-height: 32px;
      color: $blue;
      display: block;
      margin-bottom: 12px;
    }
    .bannerTitle {
      color: $blue;
      font-size: 64px;
      line-height: 84px;
      font-family: $manrope;
      @include max(1200px) {
        font-size: 50px;
      }
      @include max(992px) {
        font-size: 40px;
      }
    }
  }

  .bannerBottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
    @include max(992px) {
      grid-template-columns: 1fr;
    }
    .bannerBottomCol {
      .bannerImage {
        border-radius: 24px;
        img {
          width: 100%;
        }
      }
      &:last-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .bannerDate {
        font-size: 16px;
        color: $grey;
        margin-bottom: 12px;
        @include max(992px) {
          font-size: 14px;
        }
        span {
          display: inline-block;
          color: $blue;
          font-weight: 700;
          margin-right: 12px;
          @include max(992px) {
            margin-right: 10px;
          }
        }
      }
      .bannerItemTitle {
        font-size: 48px;
        line-height: 72px;
        font-family: $manrope;
        margin-bottom: 20px;
        @include max(1200px) {
          font-size: 35px;
          line-height: 50px;
        }
      }
      .bannerInfo {
        display: flex;
        align-items: center;
        .bannerImageUser {
          border-radius: 100%;
          margin-right: 12px;
        }
        .bannerUserName {
          font-size: 16px;
          @include max(992px) {
            font-size: 14px;
          }
        }
      }
    }
  }
}
